#zoom {
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
}

.userImg {
  width: inherit;
  height: inherit;
  background-size: cover;
}
#tree {
  background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/treeBG.png");
    width: 411px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 50px;
    left: 25px;
}

.toy {
  display: inline-block;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-size: cover;
  width: 50px;
  height: 50px;
    position: fixed;
}
.b {
  background-image: url("https://www.pngmart.com/files/10/Single-Red-Christmas-Ball-PNG-Image.png");
}
.b .userImg {
    clip-path: circle(35.0% at 51% 59%);
}
.b1 { background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/b1.png"); }
.b2 { background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/b2.png"); }
.b3 { background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/b3.png"); }
.b4 { background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/b4.png"); }
.b5 { background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/b5.png"); }
.b1_mask, .b2_mask, .b3_mask, .b4_mask, .b5_mask {
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    position: relative;
}
.b1_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/b1_mask.png);}
.b2_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/b2_mask.png);}
.b3_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/b3_mask.png);}
.b4_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/b4_mask.png);}
.b5_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/b5_mask.png);}

.b1 .userImg, .b3 .userImg {
   clip-path: circle(41.6% at 50% 58%);
}

.b2 .userImg, .b4 .userImg, .b5 .userImg {
    clip-path: circle(41.0% at 50% 57%);
}

.s {
  background-image: url("https://kartinkof.club/uploads/posts/2022-09/thumbs/1662303291_28-kartinkof-club-p-novie-i-krasivie-kartinki-zvezdochka-29.png");
}
.s .userImg{
 clip-path: polygon(53% 0, 66% 33%, 98% 36%, 73% 59%, 83% 94%, 54% 73%, 25% 93%, 33% 58%, 6% 35%, 41% 33%);
}

.s1 {
  background-image: url("https://alluviodev.github.io/scripts/event/NY2024/img/s1.png");
}
.s1_mask {background-image: url(https://alluviodev.github.io/scripts/event/NY2024/img/s1_mask.png);}
.s1 .userImg{
   clip-path: polygon(50% 6%, 62% 39%, 95% 41%, 70% 62%, 79% 94%, 51% 77%, 21% 96%, 31% 62%, 5% 41%, 39% 35%);
}
.added {
  filter: grayscale(1);
}

#currentToy{
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: grab;
  background-size: cover;
}
